.aBuiltMain{
    padding: 0 20px 20px;
    font-size:12px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 400px;
    
    .aBuilt_Title{
        font-size:14px;
        margin: 12px 0 2px;
        line-height:36px;
        background: #ddd;
        span{
            display:inline-block;
        }
        span:first-child{
            padding-right:20px;
            padding-left:6px;
            width: 110px;
        }
        span:nth-child(2){
            padding-right:10px;
        }
        span.radioSpan{
            input[type=radio]{
                margin:0;
                vertical-align: middle;
            }
        }
    }
    // .aBuilt_Con{
    //     height: auto;
    //     overflow-x:auto;
    //     overflow-y:hidden;
    //     li{
    //         float:left;
    //         width:33.33%;
    //         min-height:30px;
    //         line-height: 30px;
    //         margin-top:10px;
    //         label{
    //             font-weight:normal;
    //             margin-bottom: 0px;
    //             padding-right:6px;
    //             text-align:right;
    //             width:110px;
    //         }
    //         input{
    //             border: #ddd solid 1px;
    //             height:28px;
    //         }
    //         input[readonly]{
    //             background: #f9f9f9;
    //         }
    //     }
    //     li:nth-child(2){
    //         width:66.67%;
    //     }
    // }
    // .aBuilt_Con.hide{
    //     display: none;
    // }
    .builtAlertTable{
        margin-top:10px;
        margin-bottom:0;
        font-size:12px;
        tr{
            background: #fff;
        }
        
        td{
            border:#ccc solid 1px;
            vertical-align: middle;
            text-align: left;
            padding:0;
        }
        thead{
            tr{
                border-top: 1px solid #ccc;
                background: #f5f5f5;
            }
        }
        tbody{
            label{
                font-weight:normal;
                margin-bottom: 0px;
                padding-right:6px;
                text-align:right;
                width:100%;
            }
            input{
                border:none;
                height:28px;
                width: auto;
                width:-moz-calc(100% - 10px);
                width:-webkit-calc(100% - 10px);
                width:calc(100% - 10px);
                margin: 5px;
                border: 1px solid #ddd;
            }
            input[readonly]{
                background: #eee;
            }
        }
    }
    .builtAlertTable.hide{
        display: none;
    }
}
