body,
html {
  background: #e3e7e9;
}
body {
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.container,
.container-fluid {
  padding: 0;
}
.w1200 {
  min-width: 1200px;
}
.Left {
  float: left;
}
.Right {
  float: right;
}
.mgT10 {
  margin-top: 10px;
}
.mgT20 {
  margin-top: 20px;
}
.mgT30 {
  margin-top: 30px;
}
.mgT40 {
  margin-top: 40px;
}
.mgR15 {
  margin-right: 15px;
}
.mgR20 {
  margin-right: 20px;
}
.mg10 {
  margin: 10px;
}
.padT10 {
  padding-top: 10px;
}
.padT20 {
  padding-top: 20px;
}
.padT30 {
  padding-top: 30px;
}
.padT40 {
  padding-top: 40px;
}
.pad10 {
  padding: 10px;
}
.fixed {
  position: fixed !important;
  top: 0 !important;
  left: 0;
  height: 100%;
  z-index: 300;
}
.red {
  font-style: normal;
  color: #c22;
}
.suffix {
  float: right;
  width: 15px;
  text-align: right;
  line-height: 28px;
  height: 28px;
}
.redFont {
  position: relative;
  top: 0;
  left: 0;
  text-indent: 6px;
}
.redFont:before {
  content: "*";
  color: rgba(255, 0, 0, 0.8);
  font-size: 18px;
  vertical-align: middle;
  /* width:5px;height:5px; position: absolute; top:50%;left:0;background:@rgba;border-radius:50%;margin-top:-2.5px; */
}
@media (min-width: 1200px) {
  .container {
    width: auto;
  }
}
@media (min-width: 992px) {
  .container {
    width: auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: auto;
  }
}
.modal-open .modal {
  overflow: visible !important;
  z-index: 3001;
  padding-right: 0 !important;
}
.modal-dialog {
  min-width: auto;
  width: auto;
}
.hide {
  visibility: hidden;
}
.uploadBtn {
  width: 40px;
  height: 40px;
  background: #2979ff;
  line-height: 40px;
  margin: 10px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  vertical-align: top;
}
.webuploader-container,
.uploadBtn {
  display: inline-block;
}
.webuploader-container {
  margin: 10px;
}
.uploadList {
  padding: 10px 15px;
  text-align: center;
}
.uploadList li {
  padding-bottom: 10px;
  overflow: hidden;
}
.uploadList li span {
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}
.uploadList li span.txt {
  display: block;
  max-width: 300px;
}
.uploadList li span.size {
  float: right;
  width: 80px;
}
.uploadList li span.time {
  float: right;
  width: 160px;
}
.uploadList li span.progresses {
  float: right;
  width: 60px;
  background: #ccc;
}
.uploadList li span.error {
  color: #e53935;
}
.uploadList li span b {
  font-weight: normal;
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
}
.uploadList li span b.pp {
  position: absolute;
  width: 0;
  height: 20px;
  background: #ffd400;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 5px;
}
.uploadList li i {
  float: right;
  width: 80px;
  color: #2979ff;
  cursor: pointer;
  font-style: normal;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.tooltip {
  border-radius: 2px;
  padding: 5px 10px;
}
ol,
ul {
  margin-bottom: 0;
}
ol,
ul,
ol li ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:hover {
  text-decoration: none;
}
.modal-dialog {
  width: auto !important;
  min-width: auto;
}
.modal-dialog .modal-body {
  padding: 0;
}
/* esayui */
.tree li .tree-node {
  min-height: 30px;
  line-height: 30px;
}
.tree li .tree-node .tree-hit,
.tree li .tree-node .tree-icon,
.tree li .tree-node .tree-title {
  min-height: 30px;
  line-height: 30px;
  background: none;
}
.tree li .tree-node .tree-collapsed {
  background: url(../img/tree_icons.png) 0px 6px no-repeat;
}
.tree li .tree-node .tree-expanded {
  background: url(../img/tree_icons.png) -18px 6px no-repeat;
}
.tree li .tree-node .tree-folder {
  background: url(../img/tree_icons.png) -208px 6px no-repeat;
}
.tree li .tree-node .tree-folder-open {
  background: url(../img/tree_icons.png) -224px 6px no-repeat;
}
.tree li div#_easyui_tree_1 .tree-folder {
  background: url(../img/index-icon.png) 0 6px no-repeat;
}
.tree li div#_easyui_tree_1 .tree-folder-open {
  background: url(../img/index-icon.png) 0 6px no-repeat;
}
.tree li div#_easyui_tree_1:hover .tree-folder-open {
  background: url(../img/index-icon-hover.png) 0 6px no-repeat;
}
.panel-body,
.panel-header {
  border-color: #ddd;
}
.datagrid-body td,
.datagrid-footer td,
.datagrid-header td {
  border-style: solid;
}
.datagrid-header {
  height: auto;
  min-height: 40px;
}
.datagrid-header .datagrid-htable {
  height: auto;
  min-height: 40px;
}
.datagrid-header .datagrid-htable span {
  color: #5b5b5b;
}
.datagrid-header,
.datagrid-td-rownumber,
.datagrid-header td.datagrid-header-over {
  background: #f5f5f5;
}
.datagrid-cell-c1-area {
  color: #888;
}
.textbox {
  z-index: 9;
  display: block;
  width: auto !important;
  border-color: #ddd;
  border-radius: 0;
}
.icon-bar {
  position: fixed;
  top: 50%;
  left: 232px;
  z-index: 300;
  width: 14px;
  height: 80px;
  background: #F1A118;
  margin-top: -40px;
  text-align: center;
  line-height: 80px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 0;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  transition: left 0.5s;
}
.icon-bar span {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.icon-bar:hover {
  opacity: 0.8;
}
.combo-panel .combobox-item {
  padding: 5px 5px 5px 25px;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}
.combo-panel .combobox-item:after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -8px;
  background: #fff;
  z-index: 1;
  border: #337ab7 solid 1px;
  border-radius: 50%;
}
.combo-panel .combobox-item:nth-child(odd) {
  background: #f5f5f5;
}
.combo-panel .combobox-item-selected:before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -6px;
  z-index: 5;
  font-size: 16px;
  background: #337ab7;
  border-radius: 50%;
}
.datagrid-cell-rownumber,
.datagrid-header-rownumber {
  width: 40px !important;
}
.datagrid-header-row,
.datagrid-row {
  height: 30px !important;
}
.JH-Header {
  background: #0b4082 url(../img/index_01.png);
  border-bottom: #efd5a5 solid 3px;
  width: 100%;
  height: 60px;
  /* 登陆 */
}
.JH-Header:after {
  position: absolute;
  content: "";
  clear: both;
}
.JH-Header article {
  background: url(../img/logo.png) no-repeat 10px center;
}
.JH-Header h1 {
  float: left;
  padding: 0;
  margin: 0;
  height: 60px;
  line-height: 60px;
  color: #EFD4A5;
  font-size: 18px ;
  margin-left: 160px;
}
.JH-Header ul {
  margin-left: 380px;
}
.JH-Header ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
}
.JH-Header ul li {
  height: 60px;
  line-height: 62px;
  padding: 0 20px;
  float: left;
  position: relative;
}
.JH-Header ul li a {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  height: 59px;
}
.JH-Header ul li a.active,
.JH-Header ul li a:hover {
  color: #EFD4A5;
}
.JH-Header ul li .subMenu {
  display: none;
  position: absolute;
  top: 57px;
  z-index: 11;
  height: 40px;
  min-width: 150px;
  background: #0b4082;
}
.JH-Header ul li .subMenu li {
  padding: 0;
  display: block;
  width: 100%;
  line-height: 40px;
}
.JH-Header ul li .subMenu li:hover {
  background: #1a315a;
}
.JH-Header ul li .subMenu li a {
  width: 100%;
  padding: 0 30px;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #092060;
}
.JH-Header ul li .subMenu li a:hover {
  border: 0;
}
.JH-Header ul li .subMenu li a:active {
  color: #EFD4A5;
}
.JH-Header ul li:hover .subMenu {
  display: block;
}
.JH-Header .userLogin {
  position: relative;
  float: right;
  text-align: right;
  width: 160px;
  line-height: 62px;
  height: 60px;
  padding-right: 40px;
}
.JH-Header .userLogin .userTancen {
  display: none;
  position: absolute;
  bottom: -137px;
  right: 0;
  height: 137px;
  width: 340px;
  z-index: 999;
  background: #0b4082;
  padding: 10px;
}
.JH-Header .userLogin .userTancen li {
  height: 40px;
  line-height: 40px;
  float: left;
  width: 50%;
  text-align: left;
  font-size: 16px;
}
.JH-Header .userLogin .userTancen li i {
  font-style: normal;
  color: #F1A118;
}
.JH-Header .userLogin .userTancen li a {
  height: auto;
  color: #ffffff;
  padding-left: 20px;
  background-image: url(../img/userPending-icon.png);
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 12px;
}
.JH-Header .userLogin .userTancen li a:hover {
  color: #EFD4A5;
  background-image: url(../img/userPending-icon-hover.png);
}
.JH-Header .userLogin .userTancen li a .redFont {
  color: #e53935;
}
.JH-Header .userLogin .userTancen li a .redFont::before {
  content: " ";
}
.JH-Header .userLogin .userTancen li .userApply {
  background-image: url(../img/userApply-icon.png);
}
.JH-Header .userLogin .userTancen li .userApply:hover {
  background-image: url(../img/userApply-icon-hover.png);
}
.JH-Header .userLogin .userTancen li .userDraft {
  background-image: url(../img/userDraft-icon.png);
}
.JH-Header .userLogin .userTancen li .userDraft:hover {
  background-image: url(../img/userDraft-icon-hover.png);
}
.JH-Header .userLogin .userTancen li .userHistory {
  background-image: url(../img/userHistory-icon.png);
}
.JH-Header .userLogin .userTancen li .userHistory:hover {
  background-image: url(../img/userHistory-icon-hover.png);
}
.JH-Header .userLogin .userTancen li .userExit {
  background-image: url(../img/userExit-icon.png);
}
.JH-Header .userLogin .userTancen li .userExit:hover {
  background-image: url(../img/userExit-icon-hover.png);
}
.JH-Header .userLogin:hover .userTancen {
  display: block;
}
.JH-Header .userLogin > b {
  color: #ffffff;
  cursor: pointer;
  display: none;
}
.JH-Header .userLogin .userName {
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding-left: 20px;
  background-image: url(../img/userName.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.JH-Header .userLogin .userName.doing:before {
  position: absolute;
  top: 18px;
  left: -4px;
  content: "";
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
  /*width: 18px;
               height: 18px;
               background-image:url(../img/msg.png);
               background-repeat:no-repeat ;
               background-size: 100% auto;
               background-position:left top;*/
}
.JH-Header .userLogin img {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
}
