@import "publick.less";
@import "header.less"; 
/* 图标 */
.iconBoxJin {
    display: inline-block;
    height: 20px;
    width: 20px;
    float: right;
    margin-left: 10px;
  }
  .projectAdd {
    background-image: url(../img/add-iconbs.png);
    background-repeat: no-repeat;
    &:hover {
        background-image: url(../img/add-iconbs-hover.png);
      }
  }
  .projectBian {
    background-image: url(../img/editor-iconbs.png);
    background-repeat: no-repeat;
    &:hover {
        background-image: url(../img/editor-iconbs-hover.png);
      }
  }
  .projectDelete {
    background-image: url(../img/delete-iconbs.png);
    background-repeat: no-repeat;
    &:hover {
        background-image: url(../img/delete-iconbs-hover.png);
      }
  }
.CLASS_AGENTY{
    .JH-Nav{ display: none}
    .JH-RightBox{ margin-left:0 !important;}
}
/* table */
.formTable{
    table-layout:fixed; 
    th,td{ padding:0 0 5px 0;margin:0;}
    th{
        text-align: right;
        label{ text-align:right;padding-right:5px;font-weight:100;font-size: 12px;margin-bottom: 0;}
    }
    td{
        
        position: relative;
        input[type="text"]{ width:100%;box-sizing:border-box;}
        select{ width:100%}
        .symbol{
            position: absolute;
            top:6px;
            right: 8px;
        }
    }
    
    .inputTextBox { border:@bc solid 1px;padding:3px;}
    .inputGray{background:@bc }
    
}
/*h3标题*/
.boxGroupTit{
    height: 40px;
    margin-bottom:5px ;
    position: relative;
    margin-top: 0;
    p{
        height:40px;
        line-height: 40px;
        color:#333333;
        font-size: 14px;
        border-bottom:1px solid #c9c9c9;
        span{
            display: inline-block;
            line-height:40px;
            border-bottom: 2px solid #31395d;
            
           
        }
        i{
            font-style: normal;
        }
        
    }
    span.functionButton{
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        text-align: right;
        a{
            font-size:12px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            padding-left: 20px;
            padding-right: 20px;
            color: #999999 !important;
            background-repeat: no-repeat;
            background-position: left center;
            &:hover{
                color: #31395d;
            }
        }
        .refresh-icon{    
            background-image: url(../img/refresh-icon.png);
            &:hover{
                background-image: url(../img/refresh-icon-hover.png);
            }
        }
        .saveIcon{
            background-image: url(../img/save-icon.png);
            &:hover{
                background-image: url(../img/save-icon-hover.png);
            }
        }
        
       .approvalIcon{
           background-image:url(../img/approval-icon.png) ;
           &:hover{
                background-image:url(../img/approval-icon-hover.png) ;
            }
       }
       
       .fullScreen{
           background-image:url(../img/fullScreen-icon.png) ;
           &:hover{
                background-image:url(../img/fullScreen-icon-hover.png) ;
            }
       }
       
       .addIcon{
           background-image:url(../img/add-icon.png);
       }
       .addIcon:hover{
           background-image:url(../img/add-icon-hover.png);
       }
       .deleteIcon{
           background-image:url(../img/delete-icon.png);
       }
       .deleteIcon:hover{
           background-image:url(../img/delete-icon-hover.png);
       }
       .inventoryIcon{
            background-image:url(../img/inventory-icon.png);
       }
       .inventoryIcon:hover{
            background-image:url(../img/inventory-icon-hover.png);
       }
       .editorIcon{
           background-image:url(../img/editor-icon.png);
           &:hover{
               background-image:url(../img/editor-icon-hover.png);
           }
       }
       .drEXcelIcon{
          background-image:url(../img/drEXcel-icon.png); 
          &:hover{
              background-image:url(../img/drEXcel-icon-hover.png); 
           }
       }
       .importEXcelIcon{
           background-image:url(../img/importEXcel-icon.png); 
           &:hover{
               background-image:url(../img/importEXcel-icon-hover.png); 
           }
       }
       .cancelIcon{
           background-image:url(../img/cancel-icon.png); 
           &:hover{
               background-image:url(../img/cancel-icon-hover.png); 
           }
       }
        
    }
}
 
/* 中心内容 */
.JH-Content{
    overflow: hidden;
    /* 菜单 */
    .JH-Nav{
        position: relative;top:0;left:0; transition:left 0.5s;
        width:240px;background:@bg;min-height:640px;color:#fff;
        background-image: url(../img/index_02.jpg);
        header{
            height:65px;
            .headSate{
                padding:20px;
                select{ color:@fb}
            }
            .stateSelect {
                margin-top: 20px;
                padding: 0 10px;
                select {
                    border: 1px solid #dddddd;
                    width:60px;
                    color:#333333;
                    font-size: 12px;
                    height: 22px;
                  }
                  div{
                    display:block;
                    width: 110px;
                    height: 20px;
                    line-height: 20px;
                    position: relative;
                    float: right;
                    img{
                        position: absolute;
                        display: block;
                        right: 13px;
                        top: 1px;
                        height: 20px;
                        width: 20px;
                        border: 0;
                    }
                    input.stateSearch {
                        border: 1px solid #dddddd;
                        width: 100px;
                        padding-right: 20px;
                      }
                    .stateBtn {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 20px;
                        width: 20px;
                        border: 0;
                    }
                    label {
                        font-size: 14px;
                        color: #fff;
                    }
                  }

              }
        }
        .JH-LeftNav{
            .JH-TreeTitle{
                text-align:center;
                font-size:@f16;
                 padding-bottom:10px;
                border-bottom:#fff solid 1px;
            }
            .tree-node{
                .tree-hit{
                    overflow: initial;
                }
                .tree-collapsed::before{
                    content: " ";
                    width:0; 
                    height:0; 
                    border:6px solid; 
                    border-color: transparent transparent transparent #ffffff;
                    float: left;
                    position: relative;
                    top: 8px;
                    left: 17px;
                }
                .tree-expanded::before{
                    content: " ";
                    width:0; 
                    height:0; 
                    border:6px solid; 
                    border-color:#ffffff transparent transparent transparent;
                    float: left;
                    position: relative;
                    top: 13px;
                    left: 17px;
                }
            }
            .tree-node-hover{
                .tree-collapsed::before{
                    border-color: transparent transparent transparent #333333;
                }
                .tree-expanded::before{
                    border-color:#333333 transparent transparent transparent;
                }
            }
            .tree-node-selected{
                .tree-collapsed::before{
                    border-color: transparent transparent transparent #333333;
                }
                .tree-expanded::before{
                    border-color:#333333 transparent transparent transparent;
                }
            }
             .treeBox{
                    height:400px;overflow: hidden;position: relative;top:0;left:0;
             }
            
        }
        &.active{
            left:-240px !important;
            transition:left .5s;
            position: fixed;
            top:60px;
            .icon-bar{
              right:-20px;
               transition:right 0.5s,right 1s;
                span{
                    transform:rotateY(0deg) !important;
                }
            }
        }
    
    }
    .JH-RightBox{ margin-left:240px;padding:10px;padding-bottom:0;
        transition:margin-left .5s;
      .JH-Content{ background:#fff;padding:20px;min-height:630px}
      &.active{
          margin-left:20px;
          transition:margin-left .5s;
      }
    }
    /* 路由 */
    .JH-Router{
        margin-left:240px;
    }
}

/* 标签 */
.JH-HeadTab{
    overflow: hidden;
    .JH-HeadList{
        float: left;
        li{ display: inline-block;margin-right:40px;color:@bg;  
             cursor:pointer;
            &.active{
                border-bottom: @bg solid 3px
            }
            }
    }
    .JH-RightFlot{ float:right;}
}
header.HeaderBar{
    h5{
        border-bottom:@bg2 solid 1px;overflow: hidden;
        span{ float:left;padding-bottom:5px;border-bottom:@bg solid 2px;position:relative;top:1px;}
        i{ margin-left:10px}
        ul{
           float:right; text-align:right;
           li{ display:inline-block;margin-left:20px;cursor: pointer;
            } 
        }
    }
}

/* 关键节点 */
.stateNodeBox{
    ul{ overflow: hidden;
        li{ display: inline-block;cursor: pointer;padding:5px 0px;border:@bg2 solid 1px;
            text-align:center; text-indent:10px; position: relative;top:0;left:0;
            &.Tap::before{ content:""; width:15px; height:15px;background:@bg2;position:absolute;top:50%;left:10px;border-radius:50%;margin-top:-7.5px }
            &.Tap0::before{ background:@p3 }
            &.Tap1::before{ background:@p2 }
            &.Tap2::before{ background:@p5 }
            &.Tap3::before{ background:@p1 }
        }

    }
}

/* 项目总图 */
.index-iframe{
    overflow: hidden;
   .index-left{ float:left;width:400px;} 
   .index-right{ margin-left:450px;
        .echarBox{
            height:300px;
        }
    }
}
