@bg: #f7f7f7;
.HeaderBar {
  padding: 10px;
}

.supply-wrapper {

  .title {
    font-size: 13px;
    font-weight: 600;
  }

  .text-align-right {
    text-align: right;
    padding-bottom: 2px;
  }

  .plan-version {
    display: inline-block;
    width: 210px;
  }

  .top-header {
    padding-bottom: 5px;
  }

  .bottom-header {
    padding-top: 20px;
    padding-bottom: 0px;
  }
}