.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.BTN_GROUP li {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}
