.priceBlock .text-left {
  text-align: left !important;
}
.priceBlock .text-center {
  text-align: center !important;
}
.priceBlock .text-right {
  text-align: right !important;
}
.priceBlock .BTN_GROUP li {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}
.priceBlock #statusText {
  width: 50px;
  display: inline-block;
}
