.sign-wrapper .ant-table-small .ant-table-tbody > tr > td {
  padding: 0;
  height: 31px;
}
.sign-wrapper .top-header-bar {
  line-height: 22px;
}
.sign-wrapper .bottom-header-bar {
  padding-top: 20px;
  padding-bottom: 10px;
}
.sign-wrapper .header-title {
  font-size: 13px;
  font-weight: 500;
}
.sign-wrapper .action-section {
  text-align: right;
}
.sign-wrapper .action-section .select-version {
  height: 28px;
  line-height: 28px;
  display: inline-block;
  width: 150px;
}
.signPage .ant-table-bordered .ant-table-fixed-left .ant-table-tbody > tr > td {
  text-align: left;
  padding-left: 10px;
}
.select-version {
  width: 250px;
}
.processBar {
  padding-bottom: 10px;
  font-size: 14px;
  color: #2979FF;
}
.processBar h3 {
  color: #2979FF;
  padding-bottom: 10px;
}
.processBar p {
  padding-bottom: 10px;
}
.processBar .Prompt {
  padding-left: 22px;
}
