/* 重点事项 */
.projectinFormation {
  padding-top: 10px;
}
.historyTable {
  margin: 0 auto;
  width: 88%;
  text-align: center;
  border: 1px #ccc solid;
}
.historyTable thead {
  background: #f5f5f5;
}
.historyTable td {
  border-bottom: 1px #ccc solid;
  line-height: 36px;
}
.historyTable td:last-child {
  width: 250px;
}
.historyTable td:last-child a {
  float: left;
  padding-left: 10px;
}
.priorityData .formTable tbody th {
  width: 180px;
}
.priorityData .formTable tbody td {
  width: 300px;
}
.priorityData .formTable tbody input {
  width: 300px;
}
.priorityData .ant-table .ant-table-tbody .tr-bg {
  background: #f5f5f5;
}
.priorityData .ant-table .ant-table-tbody .success td:last-child {
  background: url("../../img/success.png") no-repeat center left 5px;
  padding-left: 18px;
}
.priorityData .ant-table .ant-table-tbody .edit td:last-child {
  background: url("../../img/edit.png") no-repeat center left 5px;
  padding-left: 18px;
}
.priorityData .ant-table .ant-table-tbody .underWay td:last-child {
  background: url("../../img/under_way.png") no-repeat center left 5px;
  padding-left: 18px;
}
.priorityData .ant-table-tbody > tr > td,
.priorityData .ant-table-thead > tr > th {
  padding: 10px 0px;
}
.priorityData .ant-upload-list-item {
  float: left;
}
.priorityData .ant-upload-list-item .anticon-cross {
  position: absolute;
  top: 2px;
  right: 1px;
}
.priorityData .ant-upload,
.priorityData .ant-upload-list {
  float: left;
}
.PriorityTable {
  padding-top: 5px;
}
.PriorityTable .ant-row:first-child {
  margin-bottom: 10px;
}
.PriorityTable .ant-progress-inner {
  overflow: hidden;
}
.PriorityTable .ant-progress-text {
  width: 3em;
}
.PriorityTable .ant-calendar-picker .ant-calendar-picker-input {
  display: inline-block;
}
.PriorityTable .ant-input {
  width: 100px;
  display: inline-block !important;
}
.PriorityTable .ant-progress-status-success .ant-progress-bg {
  background-color: #f04134;
  height: 5px !important;
}
.PriorityTable .ant-progress-status-exception .ant-progress-bg {
  background-color: #F1A118;
}
.PriorityTable .ant-progress-bg {
  height: 5px !important;
}
