.PriorityTable .ant-row:first-child {
  margin-bottom: 5px;
}
.PriorityTable .ant-progress-text {
  width: 3em;
}
.PriorityTable .ant-input {
  width: 100px;
}
.PriorityTable .ant-progress-status-success .ant-progress-bg {
  background-color: #f04134;
}
.PriorityTable .ant-progress-status-exception .ant-progress-bg {
  background-color: #F1A118;
}
.PriorityTable .anticon-close-circle:before,
.PriorityTable .anticon-cross-circle:before {
  content: "中";
  padding: 6px;
  border: 1px solid #F1A118;
  border-radius: 12px;
  color: #F1A118;
}
.PriorityTable .anticon-check-circle:before {
  content: "高";
  padding: 6px;
  border: 1px solid #f04134;
  border-radius: 12px;
  color: #f04134;
}
.PriorityTable .ant-progress-outer {
  width: 93%;
}
