// 重点事项
.projectinFormation{
 
}
.process{
    padding: 10px;
    text-align: center; 
    .ant-col-8{
        text-align: right;
        padding-right: 10px;
    }
    .ant-col-16{
        padding-left: 10px;
    }
}
.PriorityTable{
    .ant-row:first-child{
        margin-bottom:5px;
    }
    .ant-progress-text{
        width:3em;
    }
    .ant-input{
        width: 100px;
    }
    .ant-progress-status-success .ant-progress-bg {
        background-color: #f04134;
        height:5px !important;
    }
    .ant-progress-status-exception .ant-progress-bg {
        background-color: #F1A118;

    }
    .ant-progress-bg{
        height:5px !important;
    }
}
