/* 重点事项 */
.projectinFormation{
    padding-top:10px;
}
.historyTable{
    margin: 0 auto;
    width:88%;
    text-align: center;
    border: 1px #ccc solid;
    thead{
        background: #f5f5f5;
    }
    td{
        border-bottom: 1px #ccc solid;
        line-height: 36px;
        &:last-child{
            width: 250px;
            a{
                float: left;
                padding-left: 10px;
            }
        }
    }
}
//表单

.priorityData{
    .formTable tbody {
        th{
         width: 180px;
        }
        td{
            width: 300px;
        }
        input{
            width: 300px;
        }
        textarea{
            resize:none
        }
    }
    .ant-table .ant-table-tbody{
        //success
        .tr-bg{
            background: #f5f5f5;
        }
        .success td:last-child{
            background: url("../../img/success.png") no-repeat center left 5px;
            padding-left:5px;
        }
        .edit td:last-child{
            background: url("../../img/edit.png") no-repeat center left 5px;
            padding-left:5px;
        }
        .underWay td:last-child{
            background: url("../../img/under_way.png") no-repeat center left 5px;
            padding-left:5px;
        }
        
    }
    .ant-table-tbody > tr > td, .ant-table-thead > tr > th{
        padding: 10px 0px;
    }
    .ant-upload-list-item{
        float: left;
        .anticon-cross{
            position: absolute;
            top: 2px;
            right: 1px;
        }
    }
    .ant-upload,.ant-upload-list {
        float: left;
    }
}

.PriorityTable{
    padding-top:5px;
    .ant-row:first-child{
        margin-bottom:10px;
    }
    .ant-progress-inner{
        overflow: hidden;
    }
    .ant-progress-text{
        width:3em;
    }
    .ant-calendar-picker .ant-calendar-picker-input{
        display: inline-block;
    }
    .ant-input{
        width: 100px;
        display: inline-block !important
    }
    .ant-progress-status-success .ant-progress-bg {
        background-color: #f04134;
        height:5px !important;
    }
    .ant-progress-status-exception .ant-progress-bg {
        background-color: #F1A118;

    }
    .ant-progress-bg{
        height:5px !important;
    }
}
