
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="pragma" content="no-cache" />
    <title>金辉项目</title>
    <link href="/source/css/default-min.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet"/>
    <link href="/css/todomain.css" rel="stylesheet" />
</head>
<body>
    <article id="jinhuiMain">
     
    </article>
    <!-- 全局 -->
    <script src="/source/js/all0.0.1-min.js"></script><!--jquery bootstrap esayui decimal malihu-custom-scrollbar-plugin-master-->
    <script src="/js/prototype.js"></script><!--日期扩展-->
    <script src="/js/jquery.cookie.js"></script><!--cookie-->
    <script src="/dist/js/chunk.js"></script><!--webpack通用模块打包生成-->
    <script src="/dist/js/jinhui-newOpen.js"></script><!--无框架入口-->
</body>
</html>